[submodule ".solarized/gnome-terminal-colors-solarized"]
    path = .solarized/gnome-terminal-colors-solarized
    url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/Oscarlsson/oh-my-zsh.git
